    <div class="modall modall_small" id="share_netwokr" style="">
        <div class="modall_fon"></div>
        <div class="modall_block">
            <div class="modall_small_top">
                <span class="modallclose"><i class="fa fa-times" aria-hidden="true"></i></span>  
                <h4>Share Network</h4>  
            </div>
            <div class="modall_small_body inside">                
                <div class="modall_content">
                    <div class="user_profile_socials">  
                        <div class="title_block">
                            <p><strong>Live Coment</strong> </p>
                        </div> 
                        <div class="post_comments_form">
                             <form action="">
                                <div class="add_post_content">
                                    <div class="form-item">                        
                                        <label></label> 
                                        <textarea cols="" rows=""  placeholder="leave a comment"></textarea>                                                             
                                    </div>
                                    <div class="form_bottom">                                                                                                                                 
                                        <div class="media_selector">                                        
                                            <a class="ms_item_photo" tabindex="0" data-title="Photo" aria-label="Photo" role="link"><i class="fa fa-camera" aria-hidden="true"></i><span class="blind_label">Photo</span></a>
                                            <a class="ms_item_video" tabindex="0" data-title="Video" aria-label="Video" role="link"><i class="fa fa-video-camera" aria-hidden="true"></i><span class="blind_label">Video</span></a>
                                            <a class="ms_item_audio" tabindex="0" data-title="Audio" aria-label="Audio" role="link"><i class="fa fa-music" aria-hidden="true"></i><span class="blind_label">Audio</span></a>
                                            <a class="ms_item_smile" tabindex="0" data-title="Smile" aria-label="Smile" role="link"><i class="fa fa-smile-o" aria-hidden="true"></i><span class="blind_label">Smile</span></a>
                                            <div class="ms_items_more_wrap">
                                                <div class="ms_item_more">
                                                    <span>More</span><i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </div>
                                                <div class="more_actions">
                                                    <a class="ms_item_gif" tabindex="0" data-title="Gif" aria-label="Gif" role="link"><i class="fa fa-puzzle-piece" aria-hidden="true"></i><span class="blind_label">Gif</span></a>
                                                    <a class="ms_item_gift" tabindex="0" data-title="Gift" aria-label="Gift" role="link"><i class="fa fa-gift" aria-hidden="true"></i><span class="blind_label">Gift</span></a>
                                                    <a class="ms_item_doc" tabindex="0" data-title="Document" aria-label="Document" role="link"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="blind_label">Document</span></a>
                                                    <a class="ms_item_map" tabindex="0" data-title="Map" aria-label="Map" role="link"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="blind_label">Map</span></a>                                                        
                                                </div>
                                            </div>                                       
                                        </div>
                                    </div>
                                </div>
                                
                            </form>    
                        </div>
                        <div class="title_block">
                            <p>Mark the social networks you need</p>
                        </div>                            
                        <ul class="networks-list" style="height: auto;">
                            <li class="facebook " data-provider="facebook" title="facebook"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="google " data-provider="google" title="google"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="twitter " data-provider="twitter" title="twitter"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="vkontakte " data-provider="vkontakte" title="vkontakte"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="tumblr " data-provider="tumblr" title="tumblr"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="instagram " data-provider="instagram" title="instagram"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="flickr " data-provider="flickr" title="flickr"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="foursquare " data-provider="foursquare" title="foursquare"><span></span></li>
                            <li class="pinterest " data-provider="pinterest" title="pinterest"><i class="fa fa-check" aria-hidden="true"></i><span></span></li>
                            <li class="imgur " data-provider="imgur" title="imgur"><i class="fa fa-check" aria-hidden="true"></i><span></span> </li>
                         </ul>
                         <div class="share_network"><span class="batton">Share Network</span></div>                            
                    </div>
                </div>                
            </div>            
        </div>
    </div> <!-- .modall  #share_netwokr end-->
    <div class="modall modall_small" id="share_post" style="">
        <div class="modall_fon"></div>
        <div class="modall_block">
            <div class="modall_small_top">
                <span class="modallclose"><i class="fa fa-times" aria-hidden="true"></i></span>  
                <h4>Share on TradeToShare</h4>  
            </div>
            <div class="modall_small_body inside">                
                <div class="modall_content">
                    <div class="user_profile_socials">  
                        <div class="title_block">
                            <p><strong>Where to share</strong></p>
                        </div> 
                        <div class="tts_share_pleace">
                            <div class="item ">
                                <p>On my wall</p>
                            </div>
                            <div class="item active">
                                <p>To my TradeLand</p>
                                <div class="selector_wrapper">
                                    <div class="selector_field"><input type="text" value="" placeholder="Enter TradeLand name"  /></div>
                                    <div class="selector_list">
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Groupe name</span><p>text some short description</p></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">TGroupe name</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Groupe name Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Groupe name</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Groupe name Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Groupe name</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <p>Send via private message</p>
                                <div class="selector_wrapper">
                                    <div class="selector_field"><input type="text" value="" placeholder="Enter a friend's name or email"  /></div>
                                    <div class="selector_list">
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                        <div class="item"><a href="#"><span class="img"><img src="files/upload/tom_kruse.png" alt=""></span><span class="name">Tom Cruse</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title_block">
                            <p><strong>Live Coment</strong> </p>
                        </div> 
                        <div class="post_comments_form">
                             <form action="">
                                <div class="add_post_content">
                                    <div class="form-item">                        
                                        <label></label> 
                                        <textarea cols="" rows=""  placeholder="leave a comment"></textarea>                                                             
                                    </div>
                                    <div class="form_bottom">   
                                        <div class="form-ection">                                                                            
                                            <input type="submit" class="submit" value="Post">                                                                                     
                                        </div>                                                                                                                              
                                        <div class="media_selector">                                        
                                            <a class="ms_item_photo" tabindex="0" data-title="Photo" aria-label="Photo" role="link"><i class="fa fa-camera" aria-hidden="true"></i><span class="blind_label">Photo</span></a>
                                            <a class="ms_item_video" tabindex="0" data-title="Video" aria-label="Video" role="link"><i class="fa fa-video-camera" aria-hidden="true"></i><span class="blind_label">Video</span></a>
                                            <a class="ms_item_audio" tabindex="0" data-title="Audio" aria-label="Audio" role="link"><i class="fa fa-music" aria-hidden="true"></i><span class="blind_label">Audio</span></a>
                                            <a class="ms_item_smile" tabindex="0" data-title="Smile" aria-label="Smile" role="link"><i class="fa fa-smile-o" aria-hidden="true"></i><span class="blind_label">Smile</span></a>
                                            <div class="ms_items_more_wrap">
                                                <div class="ms_item_more">
                                                    <span>More</span><i class="fa fa-angle-down" aria-hidden="true"></i>
                                                </div>
                                                <div class="more_actions">
                                                    <a class="ms_item_gif" tabindex="0" data-title="Gif" aria-label="Gif" role="link"><i class="fa fa-puzzle-piece" aria-hidden="true"></i><span class="blind_label">Gif</span></a>
                                                    <a class="ms_item_gift" tabindex="0" data-title="Gift" aria-label="Gift" role="link"><i class="fa fa-gift" aria-hidden="true"></i><span class="blind_label">Gift</span></a>
                                                    <a class="ms_item_doc" tabindex="0" data-title="Document" aria-label="Document" role="link"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="blind_label">Document</span></a>
                                                    <a class="ms_item_map" tabindex="0" data-title="Map" aria-label="Map" role="link"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="blind_label">Map</span></a>                                                        
                                                </div>
                                            </div>                                       
                                        </div>
                                    </div>
                                </div>
                                
                            </form>    
                        </div>                                               
                    </div>
                </div>                
            </div>            
        </div>
    </div> <!-- .modall  #share_post end-->
    
    <div class="modall modall_small" id="add_new_netwokr" style="">
        <div class="modall_fon"></div>
        <div class="modall_block">
            <div class="modall_small_top">
                <span class="modallclose"><i class="fa fa-times" aria-hidden="true"></i></span>  
                <h4>Add New Network</h4>  
            </div>
            <div class="modall_small_body inside">                
                <div class="modall_content">
                    <div class="user_profile_socials">                                                      
                        <ul class="networks-list" style="height: auto;">

                         </ul>
                         <div class="share_network"></div>                            
                    </div>
                </div>                
            </div>            
        </div>
    </div> <!-- .modall  #add_netwokr end-->
    <div class="modall modall_small" id="schedule" style="">
        <div class="modall_fon"></div>
        <div class="modall_block">
            <div class="modall_small_top">
                <span class="modallclose"><i class="fa fa-times" aria-hidden="true"></i></span>  
                <h4>Schedule post</h4>  
            </div>
            <div class="modall_small_body inside">                
                <div class="modall_content">
                    <div class="user_profile_socials">  
                        <div class="title_block">
                            <p>Enter the date of publication of the post</p>
                        </div>                            
                         
                        <form>  
                            <div class="form-item">
                                <p>Date:</p>  <input type="text" id="datepicker" />
                            </div>
                            <div class="form-item">
                                <p>Hour:</p>  
                                <select class="ui-timepicker-select" data-unit="hour" data-min="8" data-max="23" data-step="1"><option value="8">08 am</option><option value="9">09 am</option><option value="10">10 am</option><option value="11">11 am</option><option value="12">12 pm</option><option value="13">01 pm</option><option value="14">02 pm</option><option value="15">03 pm</option><option value="16">04 pm</option><option value="17">05 pm</option><option value="18">06 pm</option><option value="19">07 pm</option><option value="20">08 pm</option><option value="21">09 pm</option><option value="22">10 pm</option><option value="23">11 pm</option></select>
                            </div>
                            <div class="form-item">
                                <p>Minute:</p>
                                <select class="ui-timepicker-select" data-unit="minute" data-min="2" data-max="59" data-step="1"><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option></select> 
                            </div>
                            <div class="form-ection">                                                                            
                                            <input type="submit" class="submit" value="Post">                                                                                     
                                        </div>
                        </form>                         
                    </div>
                </div>                
            </div>            
        </div>
    </div> <!-- .modall  #add_netwokr end-->
    
    <div class="modall modall_fool_scrin" id="modal_photo" style="">
        <div class="modall_fon"></div>
        <span class="modallclose"></span> 
        <div class="modall_block">
            <div class="modal_photo_colum">
                <div class="modal_photo">
                    <div class="modal_photo_wrapper"><div class="append_image"><img src="files/upload/home1.png" alt="" /></div></div>
                    <a href="#" class="modal_navigation modal_navigation_left"><span></span></a>
                    <a href="#" class="modal_navigation modal_navigation_right"><span></span></a>
                    <div class="top">
                        <a href="#" class="print"><i class="fa fa-print" aria-hidden="true"></i><span>Print</span></a>                          
                        <a href="#" class="download"><i class="fa fa-download" aria-hidden="true"></i><span>Download</span></a>
                        <a href="#" class="foollscreen"><i class="fa fa-arrows-alt" aria-hidden="true"></i><span>Foollscreen</span></a>                        
                        <div class="left">
                            <span class="photo_name">My first photo</span> in <a href="" class="album_name">My firs album</a>
                        </div>                      
                    </div>
                    <div class="bottom">
                        <div class="post_action">                                
                            <div class="post_action_wrapper">
                                <div class="item item_vote_tts">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    <span>Vote <strong>18</strong></span>
                                </div>                                
                                <div class="item item_share_tts">
                                    <i class="fa fa-share" aria-hidden="true"></i>
                                    <span>Share</span>
                                </div>
                                <div class="item item_share_netwokr">                                   
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    <span>Share Network</span>
                                </div>
                            </div>      
                        </div>
                    </div>                     
                </div>
            </div>
            <div class="modal_info_colum">
                <div class="top">
                    <div class="user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                    <div class="user_name"><a href="#">Cameron  Diaz</a></div>
                    <div class="publishe_date">2 hour ago</div>
                </div> 
                <div class="description">
                    <p>Lorem Ipsum is not simply <a href="">http://random_random.text/test?dfklvlkvdfvlfkd</a>. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                </div>
                <div class="photo_comment_list">
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                    <div class="item">
                        <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                        <div class="coment_photo_bottom">
                            <div class="coment_publishe_date">2 hour ago</div>
                            <div class="coment_reply">Reply</div>
                            <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                        </div>
                    </div>
                </div> 
                <div class="photo_comment_form">
                    <div class="post_comments_form">
                         <form action="">
                            <div class="add_post_content">
                                <div class="form-item">                        
                                    <label></label> 
                                    <textarea cols="" rows="" placeholder="leave a comment"></textarea>                                                             
                                </div>
                                <div class="form_bottom">   
                                    <div class="form-ection">                                                                            
                                        <input type="submit" class="submit" value="Post">                                                                                     
                                    </div>                                                                                                                              
                                    <div class="media_selector">                                        
                                        <a class="ms_item_photo" tabindex="0" data-title="Photo" aria-label="Photo" role="link"><i class="fa fa-camera" aria-hidden="true"></i><span class="blind_label">Photo</span></a>
                                        <a class="ms_item_video" tabindex="0" data-title="Video" aria-label="Video" role="link"><i class="fa fa-video-camera" aria-hidden="true"></i><span class="blind_label">Video</span></a>
                                        <a class="ms_item_gift" tabindex="0" data-title="Gift" aria-label="Gift" role="link"><i class="fa fa-gift" aria-hidden="true"></i><span class="blind_label">Gift</span></a>
                                        <a class="ms_item_smile" tabindex="0" data-title="Smile" aria-label="Smile" role="link"><i class="fa fa-smile-o" aria-hidden="true"></i><span class="blind_label">Smile</span></a>
                                        <div class="ms_items_more_wrap">
                                            <div class="ms_item_more">
                                                <span>More</span><i class="fa fa-angle-up" aria-hidden="true"></i>
                                            </div>
                                            <div class="more_actions">
                                                <a class="ms_item_gif" tabindex="0" data-title="Gif" aria-label="Gif" role="link"><i class="fa fa-puzzle-piece" aria-hidden="true"></i><span class="blind_label">Gif</span></a>
                                                <a class="ms_item_audio" tabindex="0" data-title="Audio" aria-label="Audio" role="link"><i class="fa fa-music" aria-hidden="true"></i><span class="blind_label">Audio</span></a>
                                                <a class="ms_item_doc" tabindex="0" data-title="Document" aria-label="Document" role="link"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="blind_label">Document</span></a>
                                                <a class="ms_item_map" tabindex="0" data-title="Map" aria-label="Map" role="link"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="blind_label">Map</span></a>                                                        
                                            </div>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                            
                        </form>    
                    </div>
                </div>  
            </div>            
        </div>
    </div> <!-- .modall  #View photo end-->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="modall modall_video" id="modall_video" style="">
        <div class="modall_fon"></div>
        <span class="modallclose"></span> 
        <div class="modall_block">
            <div class="modall_block_wrapper">
                <div class="modal_video_section">
                    <div class="modal_video">
                        <div class="modal_video_wrapper"><div class="append_video"><img src="files/upload/video.jpg" alt="" /></div></div>
                        <div class="similar_videos">
                            <div class="name_videos_block">
                                <p>Similar videos</p>
                            </div>
                            <div class="similar_videos_wrapper">
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                                <div class="item">
                                    <a href="#"><span class="img"><img src="files/upload/video.jpg" alt="" /></span><span class="video_name">VID_20150626_120016</span><span class="video_viwes">10 viwes</span></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="modal_navigation modal_navigation_left"><span></span></a>
                        <a href="#" class="modal_navigation modal_navigation_right"><span></span></a>                        
                        <div class="bottom">
                            <div class="video_views"><i class="fa fa-eye" aria-hidden="true"></i> 2154 views</div>
                            <div class="post_action">                                
                                <div class="post_action_wrapper">
                                    <div class="item item_vote_tts">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <span>Vote <strong>18</strong></span>
                                    </div>                                
                                    <div class="item item_share_tts">
                                        <i class="fa fa-share" aria-hidden="true"></i>
                                        <span>Share</span>
                                    </div>
                                    <div class="item item_share_netwokr">                                   
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                        <span>Share Network</span>
                                    </div>
                                </div>      
                            </div>
                        </div>                     
                    </div>
                </div>
                <div class="modal_info_section">
                    <div class="description">
                        <div class="video_name"><h3>30 Seconds To Mars Hurricane</h3> <p>from <a href="#">Http://wideo-website.com</a></p></div>
                        <p>Lorem Ipsum is not simply <a href="">http://random_random.text/test?dfklvlkvdfvlfkd</a>. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                    </div>
                    <div class="top">
                        <div class="user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                        <div class="user_name"><a href="#">Cameron  Diaz</a></div>
                        <div class="publishe_date">2 hour ago</div>
                    </div> 
                    
                    <div class="photo_comment_list">
                        <div class="title_coments">10 comments</div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                        <div class="item">
                            <div class="coment_user_pict"><a href="#"><img src="files/upload/user_account_photo.jpg" alt="" /></a></div>
                            <div class="coment_user_name"><a href="#">Cameron  Diaz</a></div>
                            <div class="coment_photo_text">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                            <div class="coment_photo_bottom">
                                <div class="coment_publishe_date">2 hour ago</div>
                                <div class="coment_reply">Reply</div>
                                <div class="coment_photo_vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i><strong>2</strong></div>    
                            </div>
                        </div>
                    </div> 
                      
                </div>            
            </div>
        </div>
        <div class="video_comment_form">
                        <div class="post_comments_form">
                             <form action="">
                                <div class="add_post_content">
                                    <div class="form-item">                        
                                        <label></label> 
                                        <textarea cols="" rows="" placeholder="leave a comment"></textarea>                                                             
                                    </div>
                                    <div class="form_bottom">   
                                        <div class="form-ection">                                                                            
                                            <input type="submit" class="submit" value="Post">                                                                                     
                                        </div>                                                                                                                              
                                        <div class="media_selector">                                        
                                            <a class="ms_item_photo" tabindex="0" data-title="Photo" aria-label="Photo" role="link"><i class="fa fa-camera" aria-hidden="true"></i><span class="blind_label">Photo</span></a>
                                            <a class="ms_item_video" tabindex="0" data-title="Video" aria-label="Video" role="link"><i class="fa fa-video-camera" aria-hidden="true"></i><span class="blind_label">Video</span></a>
                                            <a class="ms_item_gift" tabindex="0" data-title="Gift" aria-label="Gift" role="link"><i class="fa fa-gift" aria-hidden="true"></i><span class="blind_label">Gift</span></a>
                                            <a class="ms_item_smile" tabindex="0" data-title="Smile" aria-label="Smile" role="link"><i class="fa fa-smile-o" aria-hidden="true"></i><span class="blind_label">Smile</span></a>
                                            <div class="ms_items_more_wrap">
                                                <div class="ms_item_more">
                                                    <span>More</span><i class="fa fa-angle-up" aria-hidden="true"></i>
                                                </div>
                                                <div class="more_actions">
                                                    <a class="ms_item_gif" tabindex="0" data-title="Gif" aria-label="Gif" role="link"><i class="fa fa-puzzle-piece" aria-hidden="true"></i><span class="blind_label">Gif</span></a>
                                                    <a class="ms_item_audio" tabindex="0" data-title="Audio" aria-label="Audio" role="link"><i class="fa fa-music" aria-hidden="true"></i><span class="blind_label">Audio</span></a>
                                                    <a class="ms_item_doc" tabindex="0" data-title="Document" aria-label="Document" role="link"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="blind_label">Document</span></a>
                                                    <a class="ms_item_map" tabindex="0" data-title="Map" aria-label="Map" role="link"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="blind_label">Map</span></a>                                                        
                                                </div>
                                            </div>                                       
                                        </div>
                                    </div>
                                </div>
                                
                            </form>    
                        </div>
                    </div>
    </div> <!-- .modall  #View Video end-->
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<!--
<div class="modall modall_img" id="gallery" style="" >
    <div class="modall_fon"></div>
    <div class="modall_block">
        <div class="inside">
            <div class="picture">
                <div class="img_append"><span class="modall_img_aligne"></span></div>
                <div class="modal_nav">
                    <span class="modal_prev"></span>
                    <span class="modal_next"></span>
                </div>
                <div class="modal_actions">
                    <div class="modal_actions_l"><a href="#">Community wall photos</a><span>1 of 1787</span></div>
                    <div class="modal_actions_r">
                        <ul>
                            <li><a href="#">Share</a></li>
                            <li><a href="#">Save to my photos</a></li>
                            <li><a href="#">More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Add Location</a></li>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Set as profile photo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="img_content">
                <div class="top">
                    <a href="#" class="user_photo" style="background-image: url('https://tradetoshare.com/bundles/framework/images/no_avatar.png');"></a>
                    <a href="#"  class="user_name">Viktor Raychuk</a>
                    <span class="date_published">11 Jan at 8:06 pm</span>
                </div>
                <div class="vote_conteiner">
                    <a href="#" class="vote">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <span>Vote <strong>121</strong></span>
                    </a>
                </div>
                <div class="text_conteiner">
                    <p>text <a href="#">link</a></p>
                    <p>text <a href="#">link</a></p>
                </div>
                <div class="live_coment">
                    <div class="write_post">
                        <form>
                            <textarea cols="" rows="" placeholder="write post"></textarea>
                            <div class="submit_btn">
                                <input type="submit" name="" value="Post">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <span class="modallclose"></span>
        </div>
    </div>
</div> <!-- . end-->
