<div id="footer">
    <div class="center">
        <div class="footer_meny">
            <ul>
                <li><a href="">FAQ</a></li>
                <li><span>|</span></li>
                <li><a href="">Privacy Policy</a></li>
                <li><span>|</span></li>
                <li><a href="{{ path('feedback_new') }}">Contact Us</a></li>
                <li><span>|</span></li>
                <li><a href="">Developers</a></li>
                <li><span>|</span></li>
                <li><a href="">API</a></li>
            </ul>
        </div>	
    </div><!-- center -->
</div><!-- #footer -->
