{% extends "::layout.html.twig" %}
{% block title %}Payment package plan{% endblock %}

{% block content %}

    <div class="col-sm-8">
        <h2>Payment package plan</h2>
    </div>


{% endblock %}