{{ form_start(form) }}
<div class="col-md-4">
    <label class="control-label">Type email adresses below</label>
</div>

<div class="col-md-7">
    {{ form_row(form.email) }}
    <div class="glyphicon glyphicon-plus add_email"></div>
</div>


{{ form_end(form) }}
