<p>Dear {{ app.user.name }} , thank you for your interest to connect with me , but your profile does
    not match with my mine. There are talents pool on Trade To Share , I trust you will find another connection that
    match . Best of luck</p>