{{ form_start(form) }}
            {% form_theme form 'form/user_fields.html.twig' %}

<div class="content">
    {{ form_widget(form) }}

    <div class="line submit">
        <input type="submit" value="Submut">
    </div>
</div>
{{ form_end(form) }}
